In [25]:
import pandas as pd
data=pd.read_excel(".\data\\3.xlsx")

In [26]:
data.head()

                           Column1 Column2 Column3
0  全国大学英语四、六级考试大纲（2016年修订版）plastic     NaN     NaN
1                            plate     NaN     NaN
2                          plateau     NaN     NaN
3                         platform     NaN     NaN
4                        plausible     NaN     NaN

In [27]:
data.shape

(5121, 3)

In [28]:
type(data)
data.head(20)

,Column1,Column2,Column3
0,全国大学英语四、六级考试大纲（2016年修订版）plastic,NaN,NaN
1,plate,NaN,NaN
2,plateau,NaN,NaN
3,platform,NaN,NaN
4,plausible,NaN,NaN
5,play,player,NaN
6,playground,NaN,NaN
7,plaza,NaN,NaN
8,plea,NaN,NaN
9,plead,NaN,NaN
10,please,pleasure\t\t\t\tpleasant\t\t\tpleasing,NaN
11,pledge,NaN,NaN
12,plenty,plentiful,NaN
13,plight,NaN,NaN
14,plot,NaN,NaN
15,plough/plow,NaN,NaN
16,plug,NaN,NaN
17,plumber,NaN,NaN
18,plumbing,NaN,NaN
19,plunge,NaN,NaN

In [31]:
lst=["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r",
    "s","t","u","v","w","x","y","z","-"," "]
number=[]
for i in lst:
    bool_array = data.applymap(lambda x:i in str(x))
    out_array = data[bool_array]
    s=out_array['Column1'].count()+out_array['Column2'].count()+out_array['Column3'].count()
    number.append(s)
token=dict(zip(lst,number))
token=sorted(token.items(),key=lambda x:x[1],reverse=True)
print(token)

[('e', 4517), ('a', 3565), ('i', 3525), ('t', 3479), ('r', 3419), ('n', 3049), ('o', 2916), ('s', 2478), ('l', 2330), ('c', 2152), ('u', 1664), ('d', 1499), ('p', 1459), ('m', 1331), ('y', 1054), ('h', 1053), ('g', 1047), ('b', 828), ('v', 728), ('f', 718), ('w', 456), ('k', 339), ('x', 176), ('z', 111), ('-', 93), ('j', 90), ('q', 84), (' ', 8)]

In [21]:
print("a:",out_array['Column1'].count()+out_array['Column2'].count()+out_array['Column3'].count())

a: 7115